.app {
  padding: 30px;
}
.todo{
  align-items: center;
  display: flex;
  font-size: 18px;
  justify-content: space-between;
}

.add-form{
  width: 500px;
  float: left;
  margin-right: 25px;
}

.delete-all-done{
  margin-left: -30px;
}